#Instance Configuration

INSTANCE_NAME=maze-id

#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#

#Dashboard Configuration

# Do not include the protocol (http:// or https://) in the domain name.
DASHBOARD_DOMAIN=maze-id-dashboard.wrappeddeveloper.workers.dev

# This is prefixed with vite_ to expose it to vite properly
# Must include the protocol (http:// or https://) in the domain name.
VITE_API_URL=https://maze-id-api.wrappeddeveloper.workers.dev

# Boolean true/false, defaults to false
LOCALHOST=false

#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#

# API Configuration

# API Domain, must include the protocol (http:// or https://) in the domain name.
OIDC_ISSUER=https://maze-id-api.wrappeddeveloper.workers.dev
